/* General Styles */
body {
    background-color: #94b98b;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #07733b;
    color: #FFFFFF;
    font-weight: 400;
    border: 3px solid black;
    height: 150px; /* Added height */
    display: flex;
    align-items: flex-end; /* Align text at the bottom */
    padding: 30px 15px;
}

header img {
    float: left;
    height: 138px;
    padding-right: 0px;
}

header p {
    margin: 0;
    padding-bottom: 10px;
}

/* Headings, Paragraph and Blockquote Styles */
h1, h2, h3, p {
    margin: 15px;
}
ul {
    margin:15px;
}

a {
    color: #07733b;
}
a:visited {
    color: #074b28;
}

blockquote {
    font-style: italic;
    padding-left: 35px;
}

/* List Styles */
ul {
    font-weight: 700;
    padding: 0 15px; /* Added padding for consistent styling */
}

ul::after {
    content: '';
    display: block;
    border-bottom: 2px dashed black; /* Dashed line at the end of lists */
    margin-top: 10px;
}

/* Footer Styles */
footer {
    background-color: #031f07;
    color: #FFFFFF;
    text-align: right;
    padding: 10px;
    margin-top: auto;
}
